@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.no-border {
  border: none !important; /* ลบเส้นขอบ */
  box-shadow: none !important; /* ลบเงาที่อาจเป็นขอบดำ */
  background: transparent !important; /* พื้นหลังโปร่งใส */
}

.truncate-text {
  max-width: 100%;
  overflow: hidden; 
}
